#ocean
[options]
scroll_on_output = false
scroll_on_keystroke = true
audible_bell = false
mouse_autohide = false
allow_bold = false
dynamic_title = true
urgent_on_bell = true
clickable_url = true
font = Iosevka Term 10
scrollback_lines = 10000
search_wrap = true
#icon_name = terminal
#geometry = 640x480

# "system", "on" or "off"
cursor_blink = off

# "block", "underline" or "ibeam"
cursor_shape = block

# $BROWSER is used by default

# set size hints for the window
#size_hints = false

# emit escape sequences for other keys modified by Control
#modify_other_keys = false

[colors]
foreground = #9aa4bd
background = #1b202a
foreground_bold = #9aa4bd
cursor = #9aa4bd
cursor_foreground = #1b202a
highlight = #232936

color0  = #1b202a
color1  = #b15e7c
color2  = #709d6c
color3  = #b5a262
color4  = #608cc3
color5  = #8f72bf
color6  = #56adb7
color7  = #323c4d
color8  = #232936
color9  = #b3785d
color10 = #709d6c
color11 = #d5b875
color12 = #608cc3
color13 = #c47ebd
color14 = #51617d
color15 = #9aa7bd

