# -*- mode: gitignore; -*-
.stignore
*.spl
*.dat
.netrwhist
*~
/.sync
/fish/functions
/fish/fish_read_history
/fish/secret_env.fish
/fish/conf.d
/fish/fish_variables
/fish/completions/fzf_configure_bindings.fish
/zed/.tmp*
