[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "mutt/mutt/themes/mutt-colors-solarized"]
	path = mutt/mutt/themes/mutt-colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized.git
[submodule "xorg/urxvt-perls"]
	path = xorg/urxvt-perls
	url = git://github.com/muennich/urxvt-perls.git
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
