.netrwhist
*.spl
mail/imapfilter/certificates
emacs/bookmarks
emacs/var
emacs/.org-id-locations
emacs/swank
*.dat
/emacs/eshell/lastdir
/bin/lein
mplayer/gui*
/vim/haskellmode.config
/emacs/.mc-lists.el
/emacs/projectile-bookmarks.eld
/bin/pip
/bin/python
/emacs/saved-places
