fish_history
fishd.*
fish_read_history
fish_variables
fish_plugins
/functions/*

# These files are managed by fisherman, so let's ignore them
/conf.d/*
/completions/*

# Allow some locally-managed configuration
!/conf.d/_*.fish
/conf.d/_pure_init.fish
/conf.d/_tide_init.fish
!/conf.d/[0-9]*.fish
!/conf.d/tide.gondolin.fish
!/completions/_*.fish

# Excempted functions
!/functions/ls!.fish
!/functions/fisher.fish
!/functions/gg.fish
!/functions/_min*.fish
!/functions/update-abbreviations.fish
!/functions/update-abbreviations-*.fish
