fish_history
fishd.*
fish_read_history
fish_variables
/functions/*

# Fisher manages these directories.
/conf.d/*
/completions/*

# Keep locally maintained configuration.
!/conf.d/_*.fish
/conf.d/_pure_init.fish
/conf.d/_tide_init.fish
!/conf.d/[0-9]*.fish
!/conf.d/direnv.fish
!/conf.d/vite-plus.fish
!/completions/_*.fish
!/completions/vp.fish
!/completions/vpr.fish

# Keep locally maintained functions.
!/functions/_tide_item_context.fish
!/functions/ls!.fish
!/functions/gg.fish
!/functions/_min*.fish
!/functions/update-abbreviations.fish
!/functions/update-abbreviations-*.fish
!/functions/cpu.fish
